ACCESS_EXPIRES_IN=
AUTH_FRONTEND_ORIGIN=
BACKEND_PORT=
DATABASE_URL=
EMAIL_FROM=
FRONTEND_PORT=
FRONTEND_URL=
GOOGLE_CALLBACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
NEXT_PUBLIC_API_URL=
ORCHESTRATOR_PAT=
PORT=
REFRESH_EXPIRES_DAYS=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
UPLOAD_DIR_DEV=
UPLOAD_DIR_PROD=
